In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
# Read training data
sts_train = open('/Users/dz/Desktop/MSCourses/CMPE255DataMining/Project/datasets/sts-train.csv', 'r')

new_sts_train = []

for line in sts_train:
    num_strings = line.split('\t')
    numbers = (n for n in num_strings)
    new_sts_train.append(numbers)

# Create columns for each elements
new_sts_train = pd.DataFrame(new_sts_train, columns = ['Col1','Col2','Col3','Col4','Col5','Sentence_1','Sentence_2','Col8','Col9'])
# Drop redundancy columns
new_sts_train.drop(columns = ['Col1','Col2','Col3','Col4','Col5','Col8','Col9'], inplace = True)
# Display fully sentence in the column
pd.set_option('display.max_colwidth', None)
# Clean data
new_sts_train['Sentence_2'].replace('\n', ' ', regex = True, inplace = True)

print (new_sts_train.head())

                                      Sentence_1  \
0                         A plane is taking off.
1                A man is playing a large flute.
2  A man is spreading shreded cheese on a pizza.
3                   Three men are playing chess.
4                    A man is playing the cello.

                                                  Sentence_2
0                               An air plane is taking off.
1                                 A man is playing a flute.
2  A man is spreading shredded cheese on an uncooked pizza.
3                                Two men are playing chess.
4                        A man seated is playing the cello.

In [3]:
# Check and count the sum of Null or NaN value in each column. If print 0, means No null or nan value in column
new_sts_train['Sentence_1'].isnull().sum()

0

In [4]:
new_sts_train['Sentence_2'].isnull().sum()

0

In [5]:
# Statistics data, which are strings, with count, unique, top, and freq
new_sts_train.describe()

                        Sentence_1                   Sentence_2
count                         5749                         5749
unique                        5436                         5426
top     A man is playing a guitar.  A man is playing a guitar.
freq                            16                           23

In [6]:
# Convert string to integer in training dataset
le = LabelEncoder()
for i in new_sts_train:
    new_sts_train[i] = le.fit_transform(new_sts_train[i])
    
print (new_sts_train)

      Sentence_1  Sentence_2
0           1055        1595
1            799         841
2            872         924
3           4510        4697
4            812         993
...          ...         ...
5744        3656        3015
5745        2056        2187
5746        3418        3457
5747        1888        1911
5748        3461        4083

[5749 rows x 2 columns]

In [7]:
# Statistics data, which convert string to integer, with count, unique, top, and freq in training dataset
new_sts_train.describe()

        Sentence_1   Sentence_2
count  5749.000000  5749.000000
mean   2677.384067  2669.473648
std    1579.467531  1573.739696
min       0.000000     0.000000
25%    1279.000000  1285.000000
50%    2655.000000  2642.000000
75%    4056.000000  4040.000000
max    5435.000000  5425.000000

In [8]:
# Read testing data
sts_test = open('/Users/dz/Desktop/MSCourses/CMPE255DataMining/Project/datasets/sts-test.csv', 'r')

new_sts_test = []

for line in sts_test:
    num_strings = line.split('\t')
    numbers = (n for n in num_strings)
    new_sts_test.append(numbers)


# Create columns for each elements
new_sts_test = pd.DataFrame(new_sts_test, columns = ['Col1','Col2','Col3','Col4','Col5','Sentence_1','Sentence_2','Col8','Col9'])
# Drop redundancy columns
new_sts_test.drop(columns = ['Col1','Col2','Col3','Col4','Col5','Col8','Col9'], inplace = True)
# Display fully sentence in the column
pd.set_option('display.max_colwidth', None)
# Clean data
new_sts_test['Sentence_2'].replace('\n', ' ', regex = True, inplace = True)
print (new_sts_test.head())

                                      Sentence_1  \
0                    A girl is styling her hair.
1       A group of men play soccer on the beach.
2  One woman is measuring another woman's ankle.
3                A man is cutting up a cucumber.
4                       A man is playing a harp.

                                          Sentence_2
0                      A girl is brushing her hair.
1  A group of boys are playing soccer on the beach.
2           A woman measures another woman's ankle.
3                      A man is slicing a cucumber.
4                      A man is playing a keyboard.

In [9]:
# Check and count the sum of Null or NaN value in each column. If print 0, means No null or nan value in column
new_sts_test['Sentence_1'].isnull().sum()

0

In [10]:
new_sts_test['Sentence_2'].isnull().sum()

0

In [11]:
# Statistics data, which are strings, with count, unique, top, and freq in test dataset
new_sts_test.describe()

,Sentence_1,Sentence_2
count,1379,1379
unique,1256,1337
top,"It depends on what you want to do next, and where you want to do it.",A man is playing a guitar.
freq,9,4

In [12]:
# Convert string to integer in testing dataset
le = LabelEncoder()
for i in new_sts_test:
    new_sts_test[i] = le.fit_transform(new_sts_test[i])
    
print (new_sts_test)

      Sentence_1  Sentence_2
0            130         107
1            141         129
2            773         400
3            200         250
4            227         229
...          ...         ...
1374         788         838
1375         647        1207
1376         586         731
1377         758         773
1378         868         794

[1379 rows x 2 columns]

In [13]:
# Statistics data, which convert string to integer, with count, unique, top, and freq in test dataset
new_sts_test.describe()

        Sentence_1   Sentence_2
count  1379.000000  1379.000000
mean    642.381436   668.496737
std     365.223622   388.269538
min       0.000000     0.000000
25%     326.500000   329.500000
50%     643.000000   667.000000
75%     961.500000  1007.500000
max    1255.000000  1336.000000